/node_modules
/public/*.json
/public/hot
/public/cms-images
/public/storage
/storage/*.key
/vendor
/storage
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
gitaccessapi
gitaccessapi.pub

/public/token_builder.json
/public/firebasenotification.json
/socket-server 